/* Corpo da página */
body, html {
    background-color: rgba(0, 38, 255, 0.658);
    margin: 0;
    overflow-x: none !important; /* Oculta a barra de rolagem horizontal */
}

/* Cabeçalho */
header {
    height: 15px;
    background-color: rgb(47, 0, 255);
    padding: 19px 0;
    margin-bottom: 10px; /* Adiciona margem na parte inferior do header */
}

/* Menu de navegação */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-align: center;
    font-size: 14px;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}

nav ul li a:hover {
    border: solid 1px white;
    transition: 0.7s;
    border-radius: 13px;
    background-color: rgba(0, 38, 255, 0.658);
}

/* Conteúdo principal */
main {
    background-color: rgba(7, 10, 190, 0.658);
    height: 656px;
    margin-top: 0;
}

/* Título do conteúdo */
h1 { 
    font-size: 24px;
    color: rgb(255, 22, 255); /* Cor verde para o h1 */
    text-align: center; /* Centraliza o h1 */
    margin-bottom: 10px; /* Margem inferior de 10px */
}

/* Parágrafo */
p { 
    margin: 0 10px;
    margin-top: 5px;
    font-size: 16px;
    color: #ffffff; /* Cor branca para o texto */
    text-align: justify;
    line-height: 1.5; /* Espaçamento entre linhas */
}

/* Ajuste de espaçamento entre header e main */
header + main + footer{
    margin-top: -15px; /* Reduz a margem entre o header e o main para apenas uma vaga */
}

header + main {
    margin-top: -15px; /* Reduz a margem entre o header e o main para apenas uma vaga */
}

/* Rodapé */
footer{
    color: rgb(255, 251, 0);
    margin-top: 1px;
    margin-bottom: 0;
    text-align: center;
    background-color: rgba(7, 10, 190, 0.658); 
    height: 100px;
}

/* Identificador para elemento de cópia */
#copy{
    margin-top: 20px;
}

/*loading pag*/
.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo com transparência */
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    width: 70px; /* Tamanho do loader */
    height: 70px; /* Tamanho do loader */
    background: url('https://maestro.plurall.net/app/img/loading.gif') center center no-repeat; /* Define a imagem do GIF como plano de fundo */
    background-repeat: none;
    background-size: 70px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
        border-top-color: #3498db; /* Cor inicial do topo do loader */
    }
    50% {
        transform: rotate(180deg);
        border-top-color: #ff6347; /* Cor intermediária do topo do loader */
    }
    100% {
        transform: rotate(360deg);
        border-top-color: #69db34; /* Cor final do topo do loader */
    }
}

